.header {
  padding-bottom: 18rem;

  @include respond(mobilemini) {
    padding-bottom: 12rem;
  }

  & .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(mobilemini) {
      height: 26px;
    }
  }
}

.header__logo {
  width: 100%;
  max-width: 100px;
  min-height: 26px;

  @include respond(mobilemini) {
    min-height: auto;
  }

  & .site-logo {
    display: block;
    position: relative;
    min-height: inherit;
    z-index: 101;

    @include respond(mobilemini) {
      min-height: auto;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .logo__name_last {
      opacity: 1;
    }
    &:hover .logo__name_first {
      opacity: 0;

      @include respond(mobilemini) {
        opacity: 1;
      }
    }

    & .logo__name {
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;

      @include respond(mobilemini) {
        position: unset;
      }
    }

    & .logo__name_first {
      @include respond(mobilemini) {
        & .icon {
          width: 85px;
          height: 17px;
        }
      }
    }

    & .logo__name_last {
      opacity: 0;

      @include respond(mobilemini) {
        display: none;
      }
    }
  }
}

.header__menu {
  display: flex;
  align-items: center;

  @include respond(mobilemini) {
    justify-content: flex-end;
  }

  .menu-list {
    display: flex;
    align-items: center;

    @include respond(mobilemini) {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        transition-delay: 0.1s;
        transition: transform 0.4s ease;
        transform: translateX(-100%);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 145%;
          height: 100%;
          background-color: var(--bg-primary-colour);
          z-index: -1;
          clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
          transform: translateX(-100%);
          transition: transform ease 0.4s;
          z-index: -1;
        }
  
        &:hover {
          cursor: pointer;
        }
  
        &::before {
          transform: none;
        }
  
        & .menu-list__item {
          width: auto;
  
          &:not(:last-child) {
            margin-right: 0;
          }
  
          & .menu-list__link {
            color: var(--link-primary-colour);
          }
          &:not(:last-child) {
            margin-bottom: 4rem;
            margin-right: 0;
          }
        }
    }

    & .menu-list__item {
      @include respond(mobilemini) {
        width: 0;
      }
      &:not(:last-child) {
        margin-right: 56px;
      }

      & .menu-list__link {
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        color: var(--link-primary-colour);
        text-decoration: none;
        transition: all 0.3s;
        letter-spacing: -0.01em;

        @include respond(mobilemini) {
          color: var(--bg-primary-colour);
        }

        &:hover {
          color: var(--link-primary-hover-colour);
        }
      }
    }
  }

  .hamburger {
    display: none;
    position: relative;

    @include respond(mobilemini) {

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 10px;
        transform: translate(-20%, -30%);
      }

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 30px;
      height: 15px;
      transform-origin: center center;
      transition: 0.5s ease-in-out;
      z-index: 101;
      position: relative;

      span {
        width: 100%;
        height: 2px;
        background: var(--brand-primary-colour);
        transform: rotate(0deg);
        transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        cursor: pointer;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 6px;
          transform: translateX(-6px);
        }

        &:nth-child(3) {
          top: 12px;
        }
      }
    }
  }

  & .site-sphere {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 56px;
    background: var(--brand-gradient-primary-colour);

    @include respond(tablet) {
      display: none;
    }
  }
}

.header__menu.open-modal {
  .menu-list {
    transform: none;

    & .menu-list__item {
      @include respond(mobilemini) {
        width: auto;
      }
      &:not(:last-child) {
        margin-right: 0px;
      }

      & .menu-list__link {
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        color: var(--link-primary-colour);
        text-decoration: none;
        transition: all 0.3s;
        letter-spacing: -0.01em;

        @include respond(mobilemini) {
          color: var(--link-primary-colour);
        }

        &:hover {
          color: var(--link-primary-hover-colour);
        }
      }
    }
  }

  .hamburger {
    @include respond(mobilemini) {
      &::before {
        content: '';
        position: absolute;
        transform: translateY(-30%);
        padding: 15px 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
      span {
        width: 20px;
        left: 20%;
        &:nth-child(1) {
          top: 0;
          left: 50%;
          opacity: 0;
        }

        &:nth-child(2) {
          transform: rotate(45deg) translateX(0);
        }

        &:nth-child(3) {
          top: 6px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
