.project-model {
    padding-bottom: 12rem;
}
.project-model__heading {
    max-width: 81.6rem;
    margin-bottom: 4rem;
    h1.title {
        margin-bottom: 24px;
    }
}

.project-model__content {
    .project-model__image {
        width: 100%;
    }
}