.selected-projects {
    h2.title {
        margin-bottom: 6.4rem;

        @include respond(phone) {
          margin-bottom: 4rem;
        }

        @include respond(mobilemini) {
          margin-bottom: 3.2rem;
        }
    }

    .selected-projects__item {
        transition: all 0.3s;
        display: block;

        &:hover {
            cursor: auto;
        }

        .selected-projects__inner {
            transition: all 0.3s;
            max-width: 49.8rem;
            width: 100%;

            @include respond(phone) {
              max-width: 100%;
            }

            &:hover {
                cursor: pointer;
            }

            &:hover .selected-projects__heading svg{
                left: 100%;
                margin-left: 8px;
                opacity: 1;
                color: var(--link-primary-hover-colour);

                @include respond(mobilemini) {
                  left: 102%;
                }
            }
    
            &:hover h4.title {
                color: var(--link-primary-hover-colour);
            }
        }

        .selected-projects__heading {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 390px;

            h4.title {
                position: relative;
            }

            svg {
                opacity: 0;
                left: 99%;
                position: absolute;
                top: 50%;
                z-index: -1;
                color: var(--link-primary-colour);

                @include respond(mobilemini) {
                  opacity: 1;
                  left: 100%;
                  margin-left: 8px;
                }
            }
        }
        h4.title {
            color: var(--link-primary-colour);
        }

        .body-paragraph {
            margin-top: 12px;
            display: block;

            @include respond(mobilemini) {
              margin-top: 4px;
            }
        }
    }

    .selected-projects__img {
        margin-bottom: 24px;
        display: block;

        @include respond(phone) {
          margin-bottom: 16px;
        }
    }
}

.selected-projects__content {
    .row {
        .col-12:not(:last-child) {
            margin-bottom: 64px;
        }
    }
}