.selected-projects {
    h2.title {
        margin-bottom: 4rem;
    }

    .selected-projects__item {
        border-top: 1px solid var(--border);
        transition: all 0.3s;
        padding: 32px 0;
        display: block;

        @include respond(mobilemini) {
          padding: 24px 0;
        }

        &:hover {
            cursor: auto;
        }

        &:last-child {
            border-bottom: 1px solid var(--border);
        }

        .selected-projects__inner {
            transition: all 0.3s;
            max-width: 49.8rem;
            width: 100%;

            @include respond(mobilemini) {
              max-width: 100%;
            }

            &:hover {
                cursor: pointer;
            }

            &:hover .selected-projects__heading svg{
                left: 100%;
                margin-left: 8px;
                opacity: 1;
                color: var(--link-primary-hover-colour);

                @include respond(mobilemini) {
                  left: 102%;
                }
            }
    
            &:hover h4.title {
                color: var(--link-primary-hover-colour);
            }
        }

        .selected-projects__heading {
            display: flex;
            align-items: center;

            h4.title {
                position: relative;
            }

            svg {
                opacity: 0;
                left: 99%;
                position: absolute;
                top: 50%;
                z-index: -1;
                color: var(--link-primary-colour);

                @include respond(mobilemini) {
                  opacity: 1;
                  left: 100%;
                  margin-left: 8px;
                }
            }
        }
        h4.title {
            color: var(--link-primary-colour);
        }

        .body-paragraph {
            margin-top: 12px;
            display: block;

            @include respond(mobilemini) {
              margin-top: 4px;
            }
        }
    }
}