:root {
    --text-primary-colour: #FFFFFF;
    --text-secondary-colour: #BDBDBD;
    --brand-primary-colour: #FFFFFF;
    --bg-primary-colour: #0F0F0F;
    --brand-gradient-primary-colour: linear-gradient(199.37deg, #F1CB00 11.34%, #FF1F00 86.99%);
    --link-primary-colour: #BDBDBD;
    --link-primary-hover-colour: #FFFFFF;
    --link-secondary-colour: #FFFFFF;
    --link-secondary-hover-colour: #BDBDBD;
    --border: #3A3A3A;
}